.button {
  display: inline-block;
  padding: 16px 20px;
  text-transform: uppercase;
  color: var(--color-w);
  background: var(--color-1);
  border-radius: 50px;
  font: 800 0.9rem "M Plus Rounded 1c", sans-serif;
  letter-spacing: 0.1rem;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.button.arrow {
  display: flex;
  align-items: center;
}

.button.arrow::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-left: 24px;
  background: url("../../assets/icons/active/active-arrow.svg");
  transition: transform 0.2s;
}

.button.arrow:hover::after {
  transform: translateX(4px);
}